.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin:auto auto;
    height: 50px;
    margin: 0 22px;
    border: 1px solid $grey;
    &__icon{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: $grey;
        width: 50px;
        height: 50px;
        padding: auto;
        border-radius: 15px 0px 0px 15px;
    }
    &__search_text{
      
    }
    &__loop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: auto;
        background: $bleu;
        color: #fff;
        border-radius: 15px;
        width: 50px;
        height: 50px;
    }
}