  /* variable */
:root{
  --first-color: #0065FC;
  --second-color: #DEEBFF;
  --third-color: #F2F2F2;
  }

* {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: black;
}
h1, h2 {
  font-size: 16px;
}
h3, p {
  font-size: 12px;
  margin: 0;
}
h1, h2, h3, button, .tarif, input.search {
  font-weight: bold;
}
a, button {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
a:hover{
  color: var(--first-color);
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
section {
  padding: 20px;
}
button {
  background: none;
  border: none;
}
/** Navigation **/
.header{
  height: 132px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo {
  margin-top: 32px;
  margin-left: 20px;
}
li.sing {
  position: absolute;
  top: 45px;
  right: 25px;
}
nav ul {
  margin-bottom: 18px;
}
li.navLien:hover {
  border-bottom: 3px solid var(--first-color);
}
li.navLien:active {
  border-bottom: 3px solid var(--first-color);
}
li.navLien a:active, li.navLien a:hover{
  color: var(--first-color);
}
li.navLien {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid var(--third-color);
  padding-bottom: 17px;
}
/** Section recherche **/

.formSearch {
  padding: 40px 0;
}
form{
  border: 3px solid var(--third-color);
  border-radius: 15px;
  padding: 0;
  width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.search__button {
  width: 20%;
  height: 50px;
}
.search__button--grey {
  background-color: var(--third-color);
  border-radius: 15px 0px 0px 15px;
}
.search__button--bleu {
  background-color: var(--first-color);
  color: #fff;
  border-radius: 0 15px 15px 0;
}
.search__text {
  display: none;
}
form:nth-child(2) {
  flex: 1;
}
input.search {
  width: 80%;
  padding: 0 10px;
}
.filter__icone .fas{
  width: 50px;
  height: 50px;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter__liste {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter__icone {
  border: 3px solid var(--third-color);
  border-radius: 25px;
  align-items: center;
  background-color: #fff;
  margin: 8px 5px;
}
.filter__icone:hover {
  border: 3px solid var(--first-color);
  background-color: var(--third-color);
}
label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter__icone:hover .fas {
  background-color: var(--first-color);
  color: var(--second-color);
}

.fa-map-marker-alt, .fa-search, .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
}
.filter__liste .fas {
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 25px;
}
.filter__icone .check{
  display: none;
}
input:checked + .filtreCheck {
border: 2px solid var(--firs-color);
}
input:checked + .filtreCheck .filter__icon{
  border: 2px solid var(--firs-color);
}
span.filter__icon {
  margin: -5px 0px -5px -7px;
}
.info {
  margin : 35px 0;
  display: flex;
  align-items:center;
}
.fa-info {
  width: 25px;
  height: 25px;
  color: var(--first-color);
  border: 2px solid var(--third-color);
  border-radius: 15px;
}
.info__p {
  margin: 0 0 0 10px;
}

/**** Card ****/

.listCard li {
  margin: 10px 0;
}

.section__color--grey {
  background-color: var(--third-color);
}
.card {
  background-color: #fff;
  display: flex;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--third-color);
  transition: 1s;
}
.card:hover{
  box-shadow: 5px 5px 5px #000;
}
.card--left {
  flex-direction: row;
  height: 145px;
  box-sizing: border-box;
  padding: 5px;
}
.card__photoleft{
  width: 127px;
  height: 100%;
  flex: 1;
}
.card__media{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}
.card__content {
  padding: 0 50px 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__content .card__title h3{
  margin: 0;
}
.fa-star {
  color: var(--first-color);
}
li .grey {
  color: var(--third-color);
}
.filter__text {
  padding: 0 15px;
}

/** Section Populaire **/
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Hébergement Marseille **/
.card--top {
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  height: 200px;
}
.cardTop__photo {
  width: 100%;
  height: 115px;
}
.cardTop__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.cardContent{
  padding: 12px 18px;
  box-sizing: border-box;
}

  /** Activité Marseille **/

.card--full{
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  height: 190px;
}

/** FOOTER **/
footer{
  padding: 50px 30px;
}
.col li {
  margin: 10px 0;
}
.col {
  margin: 0 0 40px 0;
}

@media (min-width: 768px) { 
form {
    margin: 0;
}
.search__button--bleu {
  width: 135px;
}
.search__text {
  display:block;
}
.fa-search{
  display: none;
}
.filter__liste {
  flex-wrap: nowrap;
}
.listCard__tab {
  display: flex;
  align-items: stretch;
}
.col-1:nth-child(1) .card--full {
  height: 392px
}
.col-1:nth-child(1) .cardTop__photo {
  height: 315px;
}
.col-1:nth-child(3) .card--full {
  height: 392px
}
.col-1:nth-child(3) .cardTop__photo {
  height: 315px;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
}

@media screen and (min-width:1024px){ 
  .nav {
    flex-wrap: nowrap;
    align-items: center;
  }
  li.navLien {
    width: 100%;
    border: none;
    padding: 0;
  }
  .nav {
    padding: 15px 25px;
  }
  .nav li {
    margin: 0 25px;
  }
  li.sing {
    position: relative;
    top: 0;
    right: 0;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .tablette--grey {
    background:var(--third-color);
  }
  .listCard {
    display: flex;
    flex-wrap: wrap;
  }
  li.cardTop {
    flex-basis: 33%;
}
  section:nth-child(1){
    order: 1;
  }
  section:nth-child(2){
    order: 3;
    flex-basis: 30%;
    box-sizing: border-box;
    margin: 0 20px;
  }
  section:nth-child(3){
    order: 2;
    flex-basis: 60%;
    box-sizing: border-box;
    margin: 0 20px;
  }
  section:nth-child(4){
    order: 4;
  }
  .listCard__tab {
    flex-wrap: nowrap;
  }
  .filter {
    display: flex;
    align-items: baseline;
}
.filter h2 {
  margin-right: 20px;
}
}

