* {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: black;
}
a {
  color: #000;
}
li {
  list-style: none;
}
h2 {
  font-size: 22px;
  font-weight: bold;
}
p {
  font-size: 16px;
}

a {
  text-decoration: none;
}
section {
  padding: 20px;
}
/** Navigation **/
.header{
  height: 132px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo {
  margin-top: 32px;
  margin-left: 20px;
}
li.sing {
  position: absolute;
  top: 45px;
  right: 25px;
}
nav ul {
  padding: 0;
  display: flex;
}
li.navLien:hover {
  border-bottom: 3px solid #0065FC;
}
li.navLien:active {
  border-bottom: 3px solid #0065FC;
}
li.navLien {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid #F2F2F2;
}
/** Section recherche **/
form{
  border: 3px solid #F2F2F2;
  border-radius: 15px;
  padding: 0;
  width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
form .fa-map-marker-alt{
  background-color: #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  height: 50px;
}
form:nth-child(2) {
  flex: 1;
}
form .fa-search {
  background-color: #0065FC;
  color: #fff;
  border-radius: 15px;
  width: 50px;
  height: 50px;
}
form ul {
  padding: 0;
}
.filter__liste .fas{
  width: 50px;
  height: 50px;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter__liste {
  border: 3px solid #F2F2F2;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  margin: 8px 3px;
}
.filter__liste:hover {
  border: 3px solid #0065FC;
  background-color: #F2F2F2;
}

.fa-map-marker-alt, .fa-search, .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
}
.filter .fas {
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 25px;
}
.filter .fas:hover {
  background-color: #0065FC;
  color: #DEEBFF;
}
span.filter__icon {
  margin: -7px 10px -5px -7px;
}
.info {
  margin : 35px 0;
  display: flex;
}
.fa-info {
  width: 25px;
  height: 25px;
  color: #0065FC;
  border: 2px solid #F2F2F2;
  border-radius: 15px;
}
.info__p {
  margin: 0 0 0 10px;
}

/**** Card ****/
.listCard {
  padding: 0;
}

.listCard li {
  margin: 5px 0;
}

.section-color-grey {
  background-color: #F2F2F2;
}
.card {
  background-color: #fff;
  display: flex;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #F2F2F2;
}
.card--left {
  flex-direction: row;
  height: 145px;
  padding: 5px;
}
.card__photoleft{
  height: 100%;
  width: 130px;
}
.card--left .card__mediabox {
  height: 100%;
  width: 100%;
}
.card__media{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}
.card__content {
  padding: 0 45px 0 20px;
}
.card__content .card__title h3{
  margin: 0;
}
.fa-star {
  color: #0065FC;
}
li .grey {
  color: #F2F2F2;
}

/** Section Populaire **/
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Hébergement Marseille **/
.card--top {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 30px;
}
.cardTop__photo {
  width: 100%;
  height: 115px;
}
.cardTop__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
}
.cardContent{
  padding: 12px 18px;
  box-sizing: border-box;
}
.cardTop__title {
  font-size: 17px;
  font-weight: bold;
}
.cardTop__description {
  font-size: 14px;
}

/** Activité Marseille **/
.card__title {
  padding: 22px 0 24px 20px;
  font-weight: bold;
}
