  /* variable */
:root{
  --first-color: #0065FC;
  --second-color: #DEEBFF;
  --third-color: #F2F2F2;
  }

* {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: black;
}
h1, h2 {
  font-size: 16px;
  font-weight: bold;
}
h3, p {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
section {
  padding: 20px;
}
/** Navigation **/
.header{
  height: 132px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo {
  margin-top: 32px;
  margin-left: 20px;
}
li.sing {
  position: absolute;
  top: 45px;
  right: 25px;
}
nav ul {
  margin-bottom: 18px;
}
li.navLien:hover {
  border-bottom: 3px solid var(--first-color);
}
li.navLien:active {
  border-bottom: 3px solid var(--first-color);
}
li.navLien a:active, li.navLien a:hover{
  color: var(--first-color);
}
li.navLien {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid var(--third-color);
  padding-bottom: 17px;
}
/** Section recherche **/
form{
  border: 3px solid var(--third-color);
  border-radius: 15px;
  padding: 0;
  width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
form .fa-map-marker-alt{
  background-color: var(--third-color);
  border-radius: 15px 0px 0px 15px;
  width: 20%;
  height: 50px;
}
form:nth-child(2) {
  flex: 1;
}
form .fa-search {
  background-color: var(--first-color);
  color: #fff;
  border-radius: 15px;
  width: 20%;
  height: 50px;
}
input.search {
  width: 80%;
}
.filter__liste .fas{
  width: 50px;
  height: 50px;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter__liste {
  border: 3px solid var(--third-color);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  margin: 8px 5px;
}
.filter__liste:hover {
  border: 3px solid var(--first-color);
  background-color: var(--third-color);
}
.filter__liste:hover .fas {
  background-color: var(--first-color);
  color: var(--second-color);
}

.fa-map-marker-alt, .fa-search, .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
}
.filter .fas {
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 25px;
}
.filter__liste .check{
  display: none;
}
input:checked + .filter__icon {
border: 2px solid var(--firs-color);
}
span.filter__icon {
  margin: -5px 0px -5px -7px;
}
.info {
  margin : 35px 0;
  display: flex;
}
.fa-info {
  width: 25px;
  height: 25px;
  color: var(--first-color);
  border: 2px solid var(--third-color);
  border-radius: 15px;
}
.info__p {
  margin: 0 0 0 10px;
}

/**** Card ****/
.listCard {
  padding: 0;
}

.listCard li {
  margin: 10px 0;
}

.section-color-grey {
  background-color: var(--third-color);
}
.card {
  background-color: #fff;
  display: flex;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--third-color);
}
.card--left {
  flex-direction: row;
  height: 145px;
  box-sizing: border-box;
  padding: 5px;
}
.card__photoleft{
  width: 127px;
  height: 100%;
  flex: 1;
}
.card__media{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}
.card__content {
  padding: 0 50px 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__content .card__title h3{
  margin: 0;
}
.fa-star {
  color: var(--first-color);
}
li .grey {
  color: var(--third-color);
}
.filter__text {
  padding: 0 15px;
}

/** Section Populaire **/
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Hébergement Marseille **/
.card--top {
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  height: 200px;
}
.cardTop__photo {
  width: 100%;
  height: 115px;
}
.cardTop__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.cardContent{
  padding: 12px 18px;
  box-sizing: border-box;
}
.cardTop__title {
  font-weight: bold;
}

/** Activité Marseille **/
.card__title {
  padding: 22px 0 24px 20px;
  font-weight: bold;
}

/** FOOTER **/
footer{
  padding: 50px 30px;
}
.col-1 li {
  margin: 10px 0;
}
.col-1 {
  margin: 0 0 40px 0;
}
