* {
  font-family: 'Raleway', sans-serif;
}
body {
  max-width: 375px;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 65px;
  margin-top: 45px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
form{
  border: 1px solid #F2F2F2;
  padding: 0;
}
form .fa-map-marker-alt{
  background-color: #F2F2F2;
  border-radius: 30px 0px 0px 30px;
}
form .fa-search {
  background-color: #0065FC;
  color: #fff;
  border-radius: 15px;
}
form .fas {
  padding : 20px;
}
input {
  border: none;
}
.section-color-grey {
  background-color: #F2F2F2;
}

/**** Card ****/
.card {
  max-width: 335px;
  background-color: #DEEBFF;
}
.card__photoleft {
  max-width: 128px;
  width: 100%;
  height: auto;
}



